@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}


a{
	text-decoration: none;
}

a:visited{
	color: black;
}
.header-container{
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 20px;
	width: 1700px;
	height: 100px;
	display: flex;

}

.title-name{
	font-family: Poppins-Regular, sans-serif;
	font-size: 60px;
	display: block;
}

.header-blocks {
	display: inline-block;
	float: none;

}

.cart-profile{
	font-family: Poppins-Regular, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	color: #151528;
	display: block;	
	position: relative;
	margin-left: 120px;
	text-decoration: none;
	color: black;
}

#searcher{
	height: 45px;
	width: 750px;
	float: right;
	position: relative;
	margin-left: 150px;
	border:0 solid #fff;
	border-bottom: 2px solid #000;
	font-family: Poppins-Regular, sans-serif;
	font-size: 20px;
	padding-right: 20px;
	outline: none;
	margin-top: 25px;
}

.search-img{
	width: 30px;
	position: absolute;
	margin-left: 880px;
	margin-top: 25px;

}

.cart-profile-img{
	width: 40px;
	margin-left: 140px;
	padding: 0;
}

#profile{
	margin-left: 150px;
}

#categories-title{
	margin-top: 0;
	width: 1920px;
	font-family: Poppins-Regular, sans-serif;
	
}

.categories{
	margin: 0 auto;
	width: 1700px;
}

.categories-blocks{
	background-color: white;
	box-shadow: 0 0 15px 10px rgba(221, 221, 221, 0.8);
	width: 315px;
	height: 170px;
	display: inline-block;
	margin: 20px;
	margin-left: 0;
	margin-bottom: 0;
	font-family: Poppins-Regular, sans-serif;
}

.blocks-title{
	font-family: Poppins-Regular, sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 0;
}

.blocks-images{
	height: 125px;
	display: block;
	float: none ;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	text-align: center;
}
